# Optional stock Prusa Mini LCD/jogwheel support.
#
# This is experimental on a Raspberry Pi Zero W host. If homing or printing
# reports "Timer too close", disable this include and use Mainsail/Fluidd.

[display]
lcd_type: st7789v
spi_bus: spi2a
cs_pin: PC9
rs_pin: PD11
rst_pin: PC8
encoder_pins: ^PE13, ^PE15
click_pin: ^!PE12
encoder_steps_per_detent: 4

[menu __main __temp __preheat_petg]
type: list
name: Preheat PETG

[menu __main __temp __preheat_petg __all]
type: command
name: Preheat all
gcode:
    M140 S85
    M104 S240

[menu __main __temp __preheat_petg __hotend]
type: command
name: Preheat hotend
gcode: M104 S240

[menu __main __temp __preheat_petg __hotbed]
type: command
name: Preheat hotbed
gcode: M140 S85

[menu __main __filament __load_sherpa_revo]
type: command
name: Load filament
gcode: LOAD_FILAMENT

[menu __main __filament __unload_sherpa_revo]
type: command
name: Unload filament
gcode: UNLOAD_FILAMENT
